/* Reset margin and padding */
html, body, #root {
  margin: 0;
  padding: 0;
}

/* Set full height for html and body */
html, body {
  height: 100%;
  width: 100%;
}

/* Set full height for the root element of your app */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}